extends layout

block content
  h1= title

  //- link(rel='stylesheet', href='/styles.css')
  //- script(src='/scripts.js')
  
  ul

    each convo in conversation_list
      li 
        a(href=convo.url) #{convo.title}
        p #{convo.language}, #{convo.difficulty}
  




            //- Author.findByIdAndRemove(req.body.authorid, function deleteAuthor(err) {
            //-     if (err) { return next(err); }
            //-     // Success - go to author list
            //-     res.redirect('/catalog/authors')
            //- })




        //- a(href='/item') #{convo.title}
    
    //- else
      li There are no conversations.

    //- each convo in conversations
    //-   li 
    //-     convo.title
    
    //-     convo.title, 
    //-     convo.language,
    //-     convo.difficulty, 

    //- else
    //-   li There are no books.


//- block content
//-   h1= title
  
//-   ul
//-     - convo_list.sort(function(a, b) {let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
//-     each book in book_list
//-       li 
//-         a(href=book.url) #{book.title} 
//-         |  (#{book.author.name})

//-     else
//-       li There are no books.
